<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/styles.css">

    <title>Hacker News Top Charts - {{start.strftime("%Y-%m-%d")}} to {{end.strftime("%Y-%m-%d")}}</title>
    <meta name="description" content="Top Hacker News posts from {{start.strftime("%B %d, %Y")}} to {{end.strftime("%B %d, %Y")}}">
</head>

<body>
    <section class="section floating-options">
        <a id="dark-mode-toggle">Go dark</a>
    </section>
    <section class="section header">
        <div class="container" style="text-align: center;">
            <h1>Top HN Stories</h1>
            <p>[from <strong>{{start.strftime("%b %d, %Y")}}</strong> to <strong>{{end.strftime("%b %d, %Y")}}</strong>)</p>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns is-mobile date-selector">
                {% for year in ALL_YEARS %}
                    <div class="column has-text-centered year"><a href="/{{year}}.html" {% if year == selected_year %} id="selected-year" class="is-active"{% endif %}>{{ year }}</a></div>
                {% endfor %}
            </div>
            <div class="columns is-mobile date-selector">
                {% for month in ALL_MONTHS %}
                    <div class="column has-text-centered month">
                        {% if month['is_available'] %}
                            <a href="{{month['url']}}" {% if selected_month and month.month == selected_month %} id="selected-month" class="is-active"{% endif %}>{{ month.name }}</a>
                        {% else %}
                            <span class="disabled">{{ month.name }}</span>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="columns is-mobile date-selector week-selector">
                {% for week in ALL_WEEKS %}
                    <div class="column week">
                        {% if week["is_available"] %}
                            <a href="{{week['url']}}" {% if selected_week and week.week == selected_week %}  id="selected-week" class="is-active" {% endif %}> {{week.name}}</a>
                        {% else %}
                            <span class="disabled">{{ week.name }}</span>
                        {% endif%}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="section section-charts">
        <div class="container">
            <div class="columns is-widescreen is-multiline has-text-centered section-title">
                <div class="column">
                    <h2>Stories, Ask HN, Show HN</h2>
                </div>
            </div>
            <div class="columns is-widescreen is-multiline">
                <div class="column is-one-third-widescreen is-half-desktop">
                    <div class="columns has-text-centered">
                        <div class="column">
                            <h3>Top stories</h3>
                        </div>
                    </div>
                    {% for post in top_charts.top_stories %}
                        <div class="columns is-mobile ">
                            <div class="column is-1 rank-no">{{ loop.index }}</div>
                            <div class="column is-9 story-title"><a title="{{ post["Title"] }}" href="https://news.ycombinator.com/item?id={{post['Object ID']}}" target="_blank">{{ post["Title"] }}</a></div>
                            <div class="column story-value">{{ post["Points"] }}</div>
                        </div>
                    {% endfor %}
                </div>
                <div class="column is-one-third-widescreen is-half-desktop">
                    <div class="columns has-text-centered">
                        <div class="column">
                            <h3>Top Ask HN</h3>
                        </div>
                    </div>
                    {% for post in top_charts.top_ask_hn %}
                        <div class="columns is-mobile ">
                            <div class="column is-1 rank-no">{{ loop.index }}</div>
                            <div class="column is-9 story-title"><a title="{{ post["Title"] }}" href="https://news.ycombinator.com/item?id={{post['Object ID']}}" target="_blank">{{ post["Title"] }}</a></div>
                            <div class="column story-value">{{ post["Points"] }}</div>
                        </div>
                    {% endfor %}
                </div>
                <div class="column is-one-third-widescreen is-half-desktop">
                    <div class="columns has-text-centered">
                        <div class="column">
                            <h3>Top Show HN</h3>
                        </div>
                    </div>
                    {% for post in top_charts.top_show_hn %}
                        <div class="columns is-mobile ">
                            <div class="column is-1 rank-no">{{ loop.index }}</div>
                            <div class="column is-9 story-title"><a title="{{ post["Title"] }}" href="https://news.ycombinator.com/item?id={{post['Object ID']}}" target="_blank">{{ post["Title"] }}</a></div>
                            <div class="column story-value">{{ post["Points"] }}</div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </section>
    <section class="section section-charts">
        <div class="container">
            <div class="columns is-widescreen is-multiline has-text-centered section-title">
                <div class="column">
                    <h2>News, Tech Blogs, Scientific Publications and more</h2>
                </div>
            </div>
            <div class="columns is-widescreen is-multiline">
<!-- Groups -->
{% for group_title, data in top_charts["groups"].items() %}
<div class="column is-one-third-widescreen is-half-desktop">
    <div class="columns has-text-centered">
        <div class="column">
            <h3 title="{% filter trim %}
{% if data.get("domains") %} Posts from the following websites: '{{data["domains"]}}'{% endif%}
{% if data.get("pattern") %}Posts matching the following domain: '{{data["pattern"]}}'{% endif%}
{% endfilter %}">{{ group_title }} [?]</h3>
        </div>
    </div>
    {% for post in data["top_posts"] %}
        <div class="columns is-mobile ">
            <div class="column is-1 rank-no">{{ loop.index }}</div>
            <div class="column is-9 story-title"><a title="{{ post["Title"] }}" href="https://news.ycombinator.com/item?id={{post['Object ID']}}" target="_blank">{{ post["Title"] }}</a></div>
            <div class="column story-value">{{ post["Points"] }}</div>
        </div>
    {% endfor %}
</div>
{% endfor %}
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="content has-text-centered">
          <p>
            <strong>Top HN Posts</strong> by <a href="https://twitter.com/santiagobasulto">Santiago Basulto</a>. See <a href="https://github.com/hn-summary/hn-summary.github.io">source on Github</a>.
          </p>
        </div>
      </footer>
      <script src="/main.js" defer></script>
</body>

</html>
