* {
    font-family: monospace;
    font-size: 1em;
    list-style: none;
    font-weight: normal;
    color: #000;
}

strong,
b {
    font-weight: bold
}

em,
i {
    font-style: italic
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #900
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
    background: #fff
}

h1::before {
    content: "# ";
    color: #09a
}

h2::before {
    content: "## ";
    color: #09a
}

h3::before {
    content: "### ";
    color: #09a
}

h4::before {
    content: "#### ";
    color: #09a
}

h5::before {
    content: "##### ";
    color: #09a
}

h6::before {
    content: "###### ";
    color: #09a
}
a:hover{ color:#f00; }

.header {
    padding: 20px 0px 20px 0px;
    text-align: center;
}

.section {
    padding: 1rem 1rem;
}
.section-charts{
    padding-top: 5rem;
}
.section-title{
    padding-bottom: 1rem;
}

.column.year,
.column.month,
.column.week {
    text-align: center;
}

.year, .month, .week {
    font-size: 1.1em;
}
.week{
    font-size: .8em;
}

.top-title {
    text-align: center;
}
.date-selector{
    border-bottom: 1px solid #8e8e8e;
}
.week-selector{
    max-height: 150px;
    overflow: scroll;
    border:none;
}
.is-active {
    /* text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: red; */
    text-decoration: none;
    position: relative;
    font-weight: bold;

}
.is-active:after {
content: '';

width: 100%;
position: absolute;
left: 0;
bottom: -5px;
color: #fe93c8;

border-width: 0 0 3px;
border-style: solid;
}
.rank-no{
padding-right: 0px;
padding-left: 5px;
color: #6a6a6a;
}
.rank-no::after{
content: ".";
color: #fb0;
font-weight: bold;
}
.story-title{
padding-left: 0px;
padding-right: 0px;
}
.story-value{
padding-right: 0px;
position: relative;
}
.story-value::after{
content: "pt.";
position: absolute;
top: 5px;
font-size: .5em;
color: #09a;
font-weight: bold;
}

h1{
font-size: 1.5em;
}
h2{
font-size: 1.3em;
}
h3{
font-size: 1.1em;
}
